/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* Open Sans Font */

/* NAVBAR */

:root {
  --warna1: #edf2f7;
  --warna2: #ffcf54;
  --warna3: #ffdf99;
  --warna4: #2b2b29;
  --warna5: #e2e8f0;
  --warna6: #2d3748;
}

.neo2 {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -5px -5px 10px 0 #fff;
}
#nav .container-lg {
  background-color: #e2e8f0d2;
  padding: 10px;
  margin-top: 0;
  transition: 1s;
}
#nav .navbar {
  padding-top: 0 !important;
}
#nav .navbar-brand {
  color: #2d3748 !important ;
}
#nav .navbar-brand img {
  width: 120px;
}
#nav .nav-item {
  margin: 0px 35px;
}
#nav .nav-link {
  color: #2d3748 !important ;
  font-weight: 400;
  font-size: 18px;
}
#nav .nav-link:hover {
  color: #a3a3a5 !important;
}
#nav .btn-demo {
  background-color: var(--warna4);
  border-radius: 12px;
  font-weight: 600;
  color: #f7fafc;
  transition: 0.5s;
  padding: 16px 32px 16px 32px;
  margin-left: 20px;
}

#nav .btn-demo:hover {
  background-color: #ffa600 !important;
  color: #fff;
}

#nav .scrolltop {
  background-color: #edf2f7 !important;
  padding: 20px !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
}

#nav .scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
#nav .scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
#nav .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 !important;
  outline: none !important;
}
#nav .dropdown-toggle::after {
  transition: 0.5s;
}
#nav .dropdown:hover .dropdown-toggle::after {
  filter: brightness(0) saturate(100%) invert(77%) sepia(0%) saturate(5922%) hue-rotate(183deg) brightness(90%) contrast(77%);
  transform: rotate(180deg);
}
#nav .dropdown-menu li {
  margin-bottom: 20px;
}
#nav .dropdown-menu li:nth-child(3) {
  margin-bottom: 10px;
}
#nav .dropdown-item {
  display: flex;
  align-items: center;
  color: #2d3748;
  border-radius: 15px;
}
#nav .dropdown-item:active {
  background-color: transparent;
}
#nav .logolingkaran {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #ffcf54;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .juduldropdown {
  font-weight: 700;
  font-size: 18px;
}
#nav .dropdown-item p {
  margin: 0;
}
/* RESPONSIVE */
@media (min-width: 992px) {
  #nav .dropdown-toggle::after {
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url("icon/Nav-IconArrow.svg");
    background-size: contain;
  }
  #nav .dropdown:hover .dropdown-menu {
    padding-top: 30px;
    display: block;
    margin-top: 0;
    margin-left: -160px;
    border: none;
    background-color: transparent !important;
  }
  #nav .dropdown:hover .dropdown-kotak {
    background-color: #edf2f7 !important;
    border-radius: 20px;
    padding: 30px;
    border: 0.5px solid rgba(88, 88, 88, 0.164);
  }
}
@media (min-width: 1200px) {
  #nav .dropdown-toggle::after {
    border: none;
    width: 30px;
    height: 30px;
    margin-top: -3px;
  }
}
@media (max-width: 1399px) {
  #nav .navbar-brand img {
    width: 110px;
  }
}
@media (max-width: 1200px) {
  #nav .navbar-brand img {
    width: 90px;
  }
  #nav .nav-item {
    margin: 0px 25px;
  }
  #nav .nav-link {
    font-weight: 600;
    font-size: 14px;
  }
  #nav .btn-demo {
    width: 113px;
    height: 50px;
    font-size: 10px;
    font-weight: 700;
    padding: 0;
  }
  #nav .scrolltop {
    padding: 15px !important;
  }
}
@media (max-width: 992px) {
  #nav .navbar-brand {
    margin-left: 20px;
  }
  #nav .container-lg {
    background-color: #edf2f7 !important;
  }
  #nav .navbar-collapse {
    padding-top: 30px;
    background-color: #edf2f7 !important;
  }
  #nav .btn-demo {
    margin-top: 25px !important;
    width: 92vw;
  }
  #nav .nav-link {
    border-color: #dfe6ed;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
  }
  #nav .nav-link:focus {
    border-color: #dfe6ed;
    border-bottom-style: solid;
  }
  #nav .scrolltop {
    background-color: #edf2f7 !important;
    padding: 20px !important;
    border-radius: 0 0 0 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
  }
  #nav .nav-item {
    border-color: #dfe6ed;
    border-bottom-style: solid;
  }
  #nav .nav-item:nth-child(4) {
    border-bottom-style: none;
    margin-bottom: 34.5px;
  }
  #nav .btn-demo {
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 24px;
  }
  .dropdown-toggle::after {
    float: right;
    margin-top: 23px;
  }
  #nav .dropdown-menu {
    background-color: #edf2f7;
    width: auto;
    border: none;
  }
}
@media (max-width: 575px) {
  #nav .logolingkaran {
    width: 10vw;
    height: 10vw;
  }
  #nav .logolingkaran img {
    width: 50%;
  }
  #nav .juduldropdown {
    font-weight: 700;
  }
  #nav .dropdown-item p {
    margin: 0;
    font-size: 3vw;
  }
}

/* ANIMATION */
/* Icon 1 */

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #323232;
  height: 4px;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* END NAVBAR */

/* FORM SECTION */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ------FORM SECTION--------------------------FORM SECTION-----------------------------FORM SECTION---------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.formSection {
  position: relative;
  background-color: #e2e8f0;
  padding-top: 20px;
  padding-bottom: 50px;
  z-index: 1;
  font-family: "Inter", sans-serif;
}
/* .formSection::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  height: 40px;
  border-radius: 0px 0px 30px 30px;
  background-color: #edf2f7;
  width: 100%;
} */
.formSection .back-button {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  z-index: 8;
}
.formSection .formContent {
  padding: 65px 0px;
}
.formSection img.element-oval {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 400px;
  width: 100%;
  z-index: 0;
}
.formSection img.element-footer {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  max-height: 100px;
  width: 100%;
  z-index: 3;
}

/* Animate Fade for People At Form Section */
.formSection .image-form img {
  position: absolute;
  z-index: 2;
  max-height: 350px;
  opacity: 0;
  overflow: hidden;
  animation: animate 15s linear infinite 0s;
}
.formSection .image-form img:nth-child(1) {
  animation-delay: 0s;
}
.formSection .image-form img:nth-child(2) {
  animation-delay: 5s;
}
.formSection .image-form img:nth-child(3) {
  animation-delay: 10s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
}

.formSection .card-form {
  /* box-shadow: -10px -10px 25px #f1f8ff, 10px 10px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 25px rgba(117, 117, 117, 0.1);
  transition: 2s;
  background-color: white;
  border-radius: 20px;
  padding: 35px 30px;
  color: #2d3748;
}
.formSection .card-form h3:nth-child(1) {
  font-weight: 800;
}
.formSection .card-form h3:nth-child(1) span {
  color: #ffc42f;
}

.formSection input,
.formSection select {
  border: 1px solid #ededed;
  background-color: #f7fafc;
  color: #a0aec0;
  font-size: 12px;
  padding: 7px 10px;
  margin-top: 5px;
}
.formSection input::placeholder {
  color: #a0aec0;
}
.formSection label {
  color: #2d3748;
  font-weight: 700;
  font-size: 13px;
}
.formSection button {
  color: #2d3748;
  font-weight: 600;
  margin-top: 15px;
}
@media (min-width: 576px) {
  .formSection::after {
    height: 50px;
    border-radius: 0px 0px 50px 50px;
  }
  .formSection .image-form .background-form {
    height: 280px;
    width: 250px;
  }
}
@media (min-width: 768px) {
  .formSection::after {
    height: 60px;
    border-radius: 0px 0px 50px 50px;
  }
  .formSection .formContent {
    padding: 100px;
  }
  .formSection label {
    font-size: 16px;
  }
  .formSection input,
  .formSection select {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  /* .formSection {
    margin-bottom: 140vh;
  } */
  .formSection .card-form h3:nth-child(1) {
    font-weight: 900;
    font-size: 24px;
  }
  .formSection .back-button {
    bottom: -85px;
  }
  .formSection label {
    font-size: 13px;
  }
  .formSection input,
  .formSection select {
    font-size: 11px;
  }
  .formSection .image-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* transform: translateY(100%); */
    transition: 2s;
  }
  .formSection .image-form img {
    max-height: 480px;
    bottom: 10%;
  }
  .formSection .image-form img:nth-child(1) {
    transform: translateX(10%);
  }
  .formSection .image-form .background-form {
    position: absolute;
    z-index: 1;
    background-color: #ffcf54;
    height: 360px;
    width: 315px;
    bottom: 10%;
    border-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .formSection::after {
    height: 130px;
    border-radius: 0px 0px 70px 70px;
  }
  .formSection .image-form img {
    max-height: 500px;
  }
  .formSection .image-form .background-form {
    height: 370px;
    width: 330px;
  }
  .formSection {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .formSection {
    margin-bottom: 0vh;
  }
  .formSection input,
  .formSection select {
    font-size: 13px;
  }
  .formSection label {
    font-size: 18px;
  }
  .formSection .image-form img {
    max-height: 550px;
    bottom: 8%;
  }
  .formSection .image-form .background-form {
    bottom: 8%;
  }
  .formSection button {
    font-size: 16px;
  }
  .formSection h3 {
    font-size: 32px;
  }
}
/* END FORM SECTION */
